#mainPane{
    -fx-background-color: #454447;
}

#tryName{
    -fx-background-color: white;
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI Emoji";

}

#tryPass{
    -fx-background-color: white;
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI Emoji";

}

#tryLogin{
    -fx-background-color: dodgerblue;
    -fx-font-size: 30;
    -fx-background-radius: 1em;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Emoji";
}

.button:hover{
    -fx-background-color: white;
    -fx-scale-y: 1.1;
}